# Masukan APP ID ambil di web my.telegram.org
API_KEY = "16209450"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "a4573c55ebf7c23038b927997447b78d"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOHIBu5s8BwwEEOE_8lBb3_NpQddtFAZVYC-xw40Jkl0T5ak9BrU91N9GpIx-hZZvy53JXhhm01y23qiwkZjPOjGi6yO4aj4nNG5R6fshEctXURXCf4SG4GSSCzClvky9gcohBfxuUoe70OaMi4JkZsOOURVZzXbMefmrdHL2qkXpOU5wsoXckBphuqHkE_UPSlucvO6Yz7Z94kMA9Lef9Vs8cwgSsutyjhDgsz9dpizLEkYs9H-evx8Zhv_4_sqtHOPPEkWGwf0FZloJo7KPZgU7avkCC72gGicKk_n_agBTyQ1APSHz9MGdyZTdocH4U0I3Pc_FzqDHZfVEtasIX1HRaf0="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5295554890:AAETxvFmPK83VkX_52AlqLUNohrEC_LTyIA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001594138250 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "mongodb+srv://userbot:userbot@cluster0.ws8j2.mongodb.net/db?retryWrites=true&w=majority"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

